app-users {
  .example-h2 {
    margin: 10px;
  }

  .example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }

  .example-margin {
    margin: 10px;
  }

  .mat-slider-horizontal {
    width: 300px;
  }

  .mat-slider-vertical {
    height: 300px;
  }
}
.box-users {
  margin: 10px 0;
  border-radius: 2px;
  border: none;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
  display: flex;
  label{
    display: block;
  }
  input{
    display: block;
    margin: 10PX;
  }
}
table{
  width: 100%;
}

